.nav{
   background-color: none;
   background-image: none;
   background-repeat: no-repeat;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
  position: absolute;
    top: 370px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px 20px;
  }


 .navbar-xs { min-height:28px; height: 28px; }
 .navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
 .navbar-xs .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }


 .img-container{
   min-height: 380px;
   background-image: ("../Images/lexingtonheader.jpg");
   background-repeat: no-repeat;
   background-size: 1500 380;
   background-position: center top;
   /*padding: 40px; (If don't want to set min-height or some image content is there) */
 }

 h1{
   padding: 50px;
 }

 h2{
   text-align: center;
 }


 p{
   text-align: center;
 }

 .container{
   text-align: center;
   position: inherit;
 }

 col-sm-6{
   text-align:center;
 }

 h4{
   padding: 10px 50px
 }



 .break{
     padding-top: 50px;}



     #custom-search-input{
         padding: 3px;
         border: solid 1px #E4E4E4;
         border-radius: 6px;
         background-color: #fff;
     }

     #custom-search-input input{
         border: 0;
         box-shadow: none;
     }

     #custom-search-input button{
         margin: 2px 0 0 0;
         background: none;
         box-shadow: none;
         border: 0;
         color: #666666;
         padding: 0 8px 0 10px;
         border-left: solid 1px #ccc;
     }

     #custom-search-input button:hover{
         border: 0;
         box-shadow: none;
         border-left: solid 1px #ccc;
     }

     #custom-search-input .glyphicon-search{
         font-size: 23px;
     }

     .col-centered{
         float: none;
         margin: 0 auto;
     }
